#content {
  margin-top: 60px !important;
}

.nav {
  padding-right: 0;
}

a {
  &.nav-link {
    color: #fff;
    &:hover {
      color: #fff;
      background-color: #278c5d;
    }
    border-bottom: 1px solid;
  }
}

img {
  &.main-image {
    width: 300px;
  }

  &.additional-image {
    width: 180px;
  }
}

.card {
  border: none;

  h3 {
    &.card-title {
      a {
        text-decoration: none;
      }
    }
  }
}