.ads {
  margin-top: 60px !important;
}

img {
  &.main-image {
    width: 300px;
  }

  &.additional-image {
    width: 180px;
  }
}

.card {
  border: none;

  h3 {
    &.card-title {
      a {
        text-decoration: none;
      }
    }
  }
}