body {
  background-color: #0e1621;
}

#content {
  margin-top: 60px !important;
}

.nav {
  padding-right: 0;
}

.nav, .navbar {
  background-color: #17212b;
}

.active {
  background-color: #2b5279;
}

.navbar-brand {
  padding-left: 20px;
  font-size: 16px;
}

a {
  &.nav-link {
    color: #fff;
    &:hover {
      color: #fff;
      background-color: #212b35;
    }
  }
}

img {
  &.main-image {
    width: 300px;
  }

  &.additional-image {
    width: 180px;
  }
}

.card {
  border: none;
  background-color: #182633;
  color: #ffffff;
  h3 {
    &.card-title {
      a {
        text-decoration: none;
      }
    }
  }
}

h2 {
  color: #fff;
}